        <footer class="guide-footer">
            <p class="text-small" title="Version: <%= version %>"><%= version %></p>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <script src="<%= rootPath %>bundled.js"></script>
    </body>
</html>