---
title:      Forms
---

<h3 class="v2-title v2-title--3">Forms</h3>
<ul class="v2-list">
  <li>Tell the user what the button will do</li>
  <li>DO NOT use contextless request as labels e.g. "Click here"</li>
  <li>Single line</li>
  <li>Do not use multi-line line labels</li>
</ul>

<%- partial('example', {source: '<div id="form-example"></div>'}) %>