<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,500,700" rel="stylesheet" type="text/css">
        <link href="<%= relativePathToRoot %>/assets/build.css" rel="stylesheet"/>
        <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
    </head>
    <body>

        <a class="guide-back-to-top js-back-to-top u-hidden">
            <i class="v2-icon v2-icon--small v2-icon--rotate-270 v2-icon--chevron"></i>
        </a>

        <h3 class="guide-header">nib <strong>pattern library</strong></h3>

