        <footer class="guide-footer">
            <p class="text-small" title="Version: <%= version %>"><%= version %></p>
        </footer>

        <a class="guide-back-to-top js-back-to-top u-hidden">
          <i class="v2-icon v2-icon--small v2-icon--rotate-270 v2-icon--chevron"></i>
        </a>

        <script src="<%= rootPath %>bundled.js"></script>

    </body>
</html>