<div class="guide-list guide-list--dont">
    <ul class="icon-list icon-list--cross icon-list--red icon-list--aligned">
    <% items.forEach(function(item) { %>
    <li class="icon-list__item">
        <% if (item instanceof Array) { %>
            <%- partial('list', {items: item}) %>
        <% } else { %>
            <%- item %>
        <% } %>
    </li>
    <% }) %>
    </ul>
</div>