<div class="guide-example">

    <div class="guide-example__preview">
        <%- source %>
    </div>

    <div class="guide-example__source js-highlight">
        <!-- TODO: escape but then replace "\n"s with "<br\>"s -->
        <%= source %>
    </div>

</div>
