---
title:      CX Principles
---

<h4 class="v2-title v2-title--4">We believe best possible customer experiences are ones that maximise the following principles.
</h4>

<section class="guide-component" id="title-1">
	<h3 class="v2-title v2-title--3">Supportive:</h3>
			<ul class="v2-list">
			<li>Give feedback</li>
			<li>Show progress & status</li>
			<li>Guide & provide information</li>
            </ul>
	<h3 class="v2-title v2-title--3">Forgiving:</h3>
			<ul class="v2-list">
			<li>Flexible ways to complete tasks</li>
			<li>Easy to learn and use</li>
			<li>Minimal effort to use</li>
            </ul>
	<h3 class="v2-title v2-title--3">Engaging:</h3>
			<ul class="v2-list">
			<li>Discover & learn along the journey</li>
			<li>Reward with relevant information</li>
            </ul>
	<h3 class="v2-title v2-title--3">Personalised:</h3>
			<ul class="v2-list">
			<li>Only ask for information once</li>
			<li>Use clear, unambiguous language</li>
			<li>Provide relevant content</li>
            </ul>
	<h3 class="v2-title v2-title--3">Efficient:</h3>
			<ul class="v2-list">
			<li>Streamlined interactions</li>
			<li>Responsive & quick-loading</li>
			<li>Enough information to complete tasks</li>
            </ul>
	<h3 class="v2-title v2-title--3">Trustworthy:</h3>
			<ul class="v2-list">
			<li>Show how customer information is used</li>
			<li>Respect customer privacy</li>
            </ul>
</section>