---
title:      Colours
---

<h4 class="v2-title v2-title--4">Colours are neat</h4>
<!-- ====== QUEEN ELIZABETH ====== !-->
        
<section class="guide-component guide-component__colours guide-component__elizabeth">
    <h3 class="guide-component__title v2-title v2-title--3" id="Queen Elizabeth">Queen Elizabeth</h3>
    <h4 class="v2-title v2-title--4">#009623</h4>
    <h4 class="v2-title v2-title--4">rgb(0,150,35)</h4>
    <h4 class="v2-title v2-title--4">hsl(134, 100%, 29%)</h4>

</section>

<!-- ====== PRINCE CHARLES ====== !-->
        
<section class="guide-component guide-component__colours guide-component__charles">
    <h3 class="guide-component__title v2-title v2-title--3" id="Prince Charles">Prince Charles</h3>
    <h4 class="v2-title v2-title--4">#0a6d12</h4>
    <h4 class="v2-title v2-title--4">rgb(10,109,18)</h4>
    <h4 class="v2-title v2-title--4">hsl(125, 83%, 23%)</h4>
</section>

<!-- ====== PRINCE HARRY ====== !-->
        
<section class="guide-component guide-component__colours guide-component__harry">
    <h3 class="guide-component__title v2-title v2-title--3" id="Harry">Prince Harry</h3>
    <h4 class="v2-title v2-title--4">#26b11b</h4>
    <h4 class="v2-title v2-title--4">rgb(38, 177, 27)</h4>
    <h4 class="v2-title v2-title--4">hsl(116, 74%, 40%)</h4>
</section>

<!-- ====== PRINCESS KATE ====== !-->
        
<section class="guide-component guide-component__colours guide-component__kate">
    <h3 class="guide-component__title v2-title v2-title--3" id="Kate">Princess Kate</h3>
    <h4 class="v2-title v2-title--4">#ffb400</h4>
    <h4 class="v2-title v2-title--4">rgb(255, 179, 0)</h4>
    <h4 class="v2-title v2-title--4">hsl(42, 100%, 50%)</h4>
</section>

<!-- ====== QUEEN ELIZABETH ====== !-->
        
<section class="guide-component guide-component__colours guide-component__elizabeth">
    <h3 class="guide-component__title v2-title v2-title--3" id="Queen Elizabeth">Queen Elizabeth</h3>
    <h4 class="v2-title v2-title--4">#009623</h4>
    <h4 class="v2-title v2-title--4">rgb(0,150,35)</h4>
    <h4 class="v2-title v2-title--4">hsl(134, 100%, 29%)</h4>

</section>

<!-- ====== PRINCE CHARLES ====== !-->
        
<section class="guide-component guide-component__colours guide-component__charles">
    <h3 class="guide-component__title v2-title v2-title--3" id="Prince Charles">Prince Charles</h3>
    <h4 class="v2-title v2-title--4">#0a6d12</h4>
    <h4 class="v2-title v2-title--4">rgb(10,109,18)</h4>
    <h4 class="v2-title v2-title--4">hsl(125, 83%, 23%)</h4>
</section>

<!-- ====== PRINCE HARRY ====== !-->
        
<section class="guide-component guide-component__colours guide-component__harry">
    <h3 class="guide-component__title v2-title v2-title--3" id="Harry">Prince Harry</h3>
    <h4 class="v2-title v2-title--4">#26b11b</h4>
    <h4 class="v2-title v2-title--4">rgb(38, 177, 27)</h4>
    <h4 class="v2-title v2-title--4">hsl(116, 74%, 40%)</h4>
</section>

<!-- ====== PRINCESS KATE ====== !-->
        
<section class="guide-component guide-component__colours guide-component__kate">
    <h3 class="guide-component__title v2-title v2-title--3" id="Kate">Princess Kate</h3>
    <h4 class="v2-title v2-title--4">#ffb400</h4>
    <h4 class="v2-title v2-title--4">rgb(255, 179, 0)</h4>
    <h4 class="v2-title v2-title--4">hsl(42, 100%, 50%)</h4>
</section>