---
title:      Colours
---

<p>Colours are neat</p>
<!-- ====== QUEEN ELIZABETH ====== !-->
        
<section class="guide-component guide-component__colours guide-component__elizabeth">
    <h2 class="guide-component__title v2-title v2-title--2" id="Queen Elizabeth">Queen Elizabeth</h2>
    <h3 class="v2-title v2-title--3">#009623</h3>
    <h3 class="v2-title v2-title--3">rgb(0,150,35)</h3>
    <h3 class="v2-title v2-title--3">hsl(134, 100%, 29%)</h3>

</section>

<!-- ====== PRINCE CHARLES ====== !-->
        
<section class="guide-component guide-component__colours guide-component__charles">
    <h2 class="guide-component__title v2-title v2-title--2" id="Prince Charles">Prince Charles</h2>
    <h3 class="v2-title v2-title--3">#0a6d12</h3>
    <h3 class="v2-title v2-title--3">rgb(10,109,18)</h3>
    <h3 class="v2-title v2-title--3">hsl(125, 83%, 23%)</h3>
</section>

<!-- ====== PRINCE HARRY ====== !-->
        
<section class="guide-component guide-component__colours guide-component__harry">
    <h2 class="guide-component__title v2-title v2-title--2" id="Harry">Prince Harry</h2>
    <h3 class="v2-title v2-title--3">#26b11b</h3>
    <h3 class="v2-title v2-title--3">rgb(38, 177, 27)</h3>
    <h3 class="v2-title v2-title--3">hsl(116, 74%, 40%)</h3>
</section>
<!-- ====== PRINCESS KATE ====== !-->
        
<section class="guide-component guide-component__colours guide-component__kate">
    <h2 class="guide-component__title v2-title v2-title--2" id="Kate">Princess Kate</h2>
    <h3 class="v2-title v2-title--3">#ffb400</h3>
    <h3 class="v2-title v2-title--3">rgb(255, 179, 0)</h3>
    <h3 class="v2-title v2-title--3">hsl(42, 100%, 50%)</h3>
</section>