
/* ====== START: Guide specific styles ====== */

body {
  margin: 0;
  padding: 0;
	font-family: open sans;
	font-size: 16px;
  line-height:24px;
  color:#444;
}

.guide-component {
  margin-top:60px;
  padding-bottom:60px;
}

.guide-header {
font-family: roboto;
  height: 80px;
  margin: 0;
  padding-left: 40px;
  color: #D6FAFC;
  background: #61D2D6;
  line-height: 80px;
  font-weight: 100;
  border-bottom: 8px #EA3656 solid;
  font-size: 2em;

}

.guide-header strong {
	text-transform: uppercase;
	font-weight: 100;	
}

.guide-navigation--primary {
	width: 200px;
	float: left;
}

.guide-content {
	padding-left: 200px;
	padding-right:40px;
}

.guide-list .list {
  border-left-width: 2px;
  border-left-style: solid;
  list-style-type: none;
  padding-left:15px;
  margin-left:40px;
  min-height:32px;
}

.guide-list .list__item {
  margin-bottom:10px;
  line-height:22px;
}

.guide-list i.v2-icon{
  float:left;
}

.guide-list--do .list {
  border-color: #5ce582;
}

.guide-list--dont .list {
  border-color: #e66565;
}

.guide-list--do .v2-icon--tick {
  color:#5ce582;
}

.guide-list--dont .v2-icon--close {
  color:#e66565;
}

/* === Guide Example === */

.guide-example {
  margin-top: 20px;
  padding: 20px 20px 10px;
  background: #eee;
}

.guide-example__preview {
  margin: 0 0 10px;
  padding: 10px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;}

.guide-example__source {
  margin: 0 0 10px;
  padding: 10px;
  color: #333;
  font-size: 13px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.guide-separator {
  border: 1px solid #fff;
}

.guide-component__elizabeth {
  padding: 20px;
  background-color: #009623;
  color: #fff;
}

.guide-component__charles {
  padding: 20px;
  background-color: #0a6d12;
  color: #fff;
}

/* === Guide Icon === */

.guide-icon {
  display: inline-block;
  text-align: center;
  margin-right:40px;  
  margin-bottom: 40px;
  width:120px;
  height: 120px;
  vertical-align: top;
}

.guide-icon__name {
  display: block;
}
/* === Navigation == */

.guide-navigation ul li {
  list-style-image: none;
  list-style-type: none;
  text-transform: uppercase;

}

.guide-navigation ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  color: #583965;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.guide-navigation ul li a:hover {
  background: #61D2D6;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* === Guide back-to-top === */

.guide-back-to-top {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius-topleft: 3px;
  border-radius-topright: 3px;
  border: 1px solid #ccc;
  background-color: #efefef;
}

/* ====== END: Guide specific styles ====== */

/* ====== used on the typography page ====== */

.text-small{
  font-size: 80%;
}

/* ====== utils ====== */

.u-hidden {
  display: none;
}

