<article class="guide-navigation guide-navigation--primary">
    <h3 class="guide-header">pattern library</h3>
    <ul>
        <% collections.pages.forEach(function(page) { %>
        <li>

            <!-- {{../relativePathToRoot}} -->
            <a href="<%= relativePathToRoot %><%= page.path %>" class="<%- currentPageSlug === page.slug ? 'is-current' : '' %>"><%= page.title %></a>

            <% if (currentPageSlug === page.slug) { %>
            <!-- within page navigation -->
            <div class="js-in-page-nav"></div>
            <% } %>

        </li>
        <% }) %>
    </ul>
    <h4 class="guide-tagline">Better business, by design</strong></h3>


</article>