---
title:      Colours
---

<p class="v2-paragraph">Colours are neat</p>
<!-- ====== QUEEN ELIZABETH ====== !-->

<section class="guide-component guide-component__colours guide-component__elizabeth">
    <h3 class="guide-component__title v2-title v2-title--3" id="Queen Elizabeth">Queen Elizabeth</h3>
    <p class="v2-paragraph">#009623</p>
    <p class="v2-paragraph">rgb(0,150,35)</p>
    <p class="v2-paragraph">hsl(134, 100%, 29%)</p>

</section>

<!-- ====== PRINCE CHARLES ====== !-->

<section class="guide-component guide-component__colours guide-component__charles">
    <h3 class="guide-component__title v2-title v2-title--3" id="Prince Charles">Prince Charles</h3>
    <p class="v2-paragraph">#0a6d12</p>
    <p class="v2-paragraph">rgb(10,109,18)</p>
    <p class="v2-paragraph">hsl(125, 83%, 23%)</p>
</section>

<!-- ====== PRINCE HARRY ====== !-->

<section class="guide-component guide-component__colours guide-component__harry">
    <h3 class="guide-component__title v2-title v2-title--3" id="Harry">Prince Harry</h3>
    <p class="v2-paragraph">#26b11b</p>
    <p class="v2-paragraph">rgb(38, 177, 27)</p>
    <p class="v2-paragraph">hsl(116, 74%, 40%)</p>
</section>

<!-- ====== PRINCESS KATE ====== !-->

<section class="guide-component guide-component__colours guide-component__kate">
    <h3 class="guide-component__title v2-title v2-title--3" id="Kate">Princess Kate</h3>
    <p class="v2-paragraph">#ffb400</p>
    <p class="v2-paragraph">rgb(255, 179, 0)</p>
    <p class="v2-paragraph">hsl(42, 100%, 50%)</p>
</section>

<!-- ====== Sneezy ====== !-->

<section class="guide-component guide-component__colours guide-component__sneezy">
    <h3 class="guide-component__title v2-title v2-title--3" id="Sneezy">Sneezy</h3>
    <p class="v2-paragraph">#eeeeee</p>
    <p class="v2-paragraph">rgb(238,238,238)</p>
    <p class="v2-paragraph">hsl(0, 0%, 93%)</p>

</section>

<!-- ====== Sleepy ====== !-->

<section class="guide-component guide-component__colours guide-component__sleepy">
    <h3 class="guide-component__title v2-title v2-title--3" id="Sleepy">Sleepy</h3>
    <p class="v2-paragraph">#dddddd</p>
    <p class="v2-paragraph">rgb(221,221,221)</p>
    <p class="v2-paragraph">hsl(0, 0%, 87%)</p>
</section>

<!-- ====== Happy ====== !-->

<section class="guide-component guide-component__colours guide-component__happy">
    <h3 class="guide-component__title v2-title v2-title--3" id="Happy">Happy</h3>
    <p class="v2-paragraph">#cccccc</p>
    <p class="v2-paragraph">rgb(204,204,204)</p>
    <p class="v2-paragraph">hsl(0, 0%, 80%)</p>
</section>

<!-- ====== Grumpy ====== !-->

<section class="guide-component guide-component__colours guide-component__grumpy">
    <h3 class="guide-component__title v2-title v2-title--3" id="Grumpy">Grumpy</h3>
    <p class="v2-paragraph">#888888</p>
    <p class="v2-paragraph">rgb(136, 136, 136)</p>
    <p class="v2-paragraph">hsl(0, 0%, 53%)</p>
</section>

<!-- ====== Dopey ====== !-->

<section class="guide-component guide-component__colours guide-component__dopey">
    <h3 class="guide-component__title v2-title v2-title--3" id="Dopey">Dopey</h3>
    <p class="v2-paragraph">#666666</p>
    <p class="v2-paragraph">rgb(102, 102, 102)</p>
    <p class="v2-paragraph">hsl(0, 0%, 40%)</p>
</section>

<!-- ====== Doc ====== !-->

<section class="guide-component guide-component__colours guide-component__doc">
    <h3 class="guide-component__title v2-title v2-title--3" id="Doc">Doc</h3>
    <p class="v2-paragraph">#444444</p>
    <p class="v2-paragraph">rgb(68, 68, 68)</p>
    <p class="v2-paragraph">hsl(0, 0%, 27%)</p>
</section>

<!-- ====== Bashful ====== !-->

<section class="guide-component guide-component__colours guide-component__bashful">
  <h3 class="guide-component__title v2-title v2-title--3" id="Bashful">Bashful</h3>
  <p class="v2-paragraph">#222222</p>
  <p class="v2-paragraph">rgb(34, 34, 34)</p>
  <p class="v2-paragraph">hsl(0, 0%, 13%)</p>
</section>
