---
title:      Colours
---

<h4 class="v2-title v2-title--4">Colours are neat</h4>
<!-- ====== QUEEN ELIZABETH ====== !-->

<section class="guide-component guide-component__colours guide-component__elizabeth">
    <h3 class="guide-component__title v2-title v2-title--3" id="Queen Elizabeth">Queen Elizabeth</h3>
    <h4 class="v2-title v2-title--4">#009623</h4>
    <h4 class="v2-title v2-title--4">rgb(0,150,35)</h4>
    <h4 class="v2-title v2-title--4">hsl(134, 100%, 29%)</h4>

</section>

<!-- ====== PRINCE CHARLES ====== !-->

<section class="guide-component guide-component__colours guide-component__charles">
    <h3 class="guide-component__title v2-title v2-title--3" id="Prince Charles">Prince Charles</h3>
    <h4 class="v2-title v2-title--4">#0a6d12</h4>
    <h4 class="v2-title v2-title--4">rgb(10,109,18)</h4>
    <h4 class="v2-title v2-title--4">hsl(125, 83%, 23%)</h4>
</section>

<!-- ====== PRINCE HARRY ====== !-->

<section class="guide-component guide-component__colours guide-component__harry">
    <h3 class="guide-component__title v2-title v2-title--3" id="Harry">Prince Harry</h3>
    <h4 class="v2-title v2-title--4">#26b11b</h4>
    <h4 class="v2-title v2-title--4">rgb(38, 177, 27)</h4>
    <h4 class="v2-title v2-title--4">hsl(116, 74%, 40%)</h4>
</section>

<!-- ====== PRINCESS KATE ====== !-->

<section class="guide-component guide-component__colours guide-component__kate">
    <h3 class="guide-component__title v2-title v2-title--3" id="Kate">Princess Kate</h3>
    <h4 class="v2-title v2-title--4">#ffb400</h4>
    <h4 class="v2-title v2-title--4">rgb(255, 179, 0)</h4>
    <h4 class="v2-title v2-title--4">hsl(42, 100%, 50%)</h4>
</section>

<!-- ====== Sneezy ====== !-->

<section class="guide-component guide-component__colours guide-component__sneezy">
    <h3 class="guide-component__title v2-title v2-title--3" id="Sneezy">Sneezy</h3>
    <h4 class="v2-title v2-title--4">#eeeeee</h4>
    <h4 class="v2-title v2-title--4">rgb(238,238,238)</h4>
    <h4 class="v2-title v2-title--4">hsl(0, 0%, 93%)</h4>

</section>

<!-- ====== Sleepy ====== !-->

<section class="guide-component guide-component__colours guide-component__sleepy">
    <h3 class="guide-component__title v2-title v2-title--3" id="Sleepy">Sleepy</h3>
    <h4 class="v2-title v2-title--4">#dddddd</h4>
    <h4 class="v2-title v2-title--4">rgb(221,221,221)</h4>
    <h4 class="v2-title v2-title--4">hsl(0, 0%, 87%)</h4>
</section>

<!-- ====== Happy ====== !-->

<section class="guide-component guide-component__colours guide-component__happy">
    <h3 class="guide-component__title v2-title v2-title--3" id="Happy">Happy</h3>
    <h4 class="v2-title v2-title--4">#cccccc</h4>
    <h4 class="v2-title v2-title--4">rgb(204,204,204)</h4>
    <h4 class="v2-title v2-title--4">hsl(0, 0%, 80%)</h4>
</section>

<!-- ====== Grumpy ====== !-->

<section class="guide-component guide-component__colours guide-component__grumpy">
    <h3 class="guide-component__title v2-title v2-title--3" id="Grumpy">Grumpy</h3>
    <h4 class="v2-title v2-title--4">#888888</h4>
    <h4 class="v2-title v2-title--4">rgb(136, 136, 136)</h4>
    <h4 class="v2-title v2-title--4">hsl(0, 0%, 53%)</h4>
</section>

<!-- ====== Dopey ====== !-->

<section class="guide-component guide-component__colours guide-component__dopey">
    <h3 class="guide-component__title v2-title v2-title--3" id="Dopey">Dopey</h3>
    <h4 class="v2-title v2-title--4">#666666</h4>
    <h4 class="v2-title v2-title--4">rgb(102, 102, 102)</h4>
    <h4 class="v2-title v2-title--4">hsl(0, 0%, 40%)</h4>
</section>

<!-- ====== Doc ====== !-->

<section class="guide-component guide-component__colours guide-component__doc">
    <h3 class="guide-component__title v2-title v2-title--3" id="Doc">Doc</h3>
    <h4 class="v2-title v2-title--4">#444444</h4>
    <h4 class="v2-title v2-title--4">rgb(68, 68, 68)</h4>
    <h4 class="v2-title v2-title--4">hsl(0, 0%, 27%)</h4>
</section>

<!-- ====== Bashful ====== !-->

<section class="guide-component guide-component__colours guide-component__bashful">
  <h3 class="guide-component__title v2-title v2-title--3" id="Bashful">Bashful</h3>
  <h4 class="v2-title v2-title--4">#000000</h4>
  <h4 class="v2-title v2-title--4">rgb(0, 0, 0)</h4>
  <h4 class="v2-title v2-title--4">hsl(0, 0%, 0%)</h4>
</section>
