---
slug:       buttons
title:      Buttons
template:   page.html
---

<h2 class="v2-title v2-title--2">General Usage</h2>
<h2 class="v2-title v2-title--3">Labelling</h2>
<ul>
    <li>Open sans</li>
    <li>Single line</li>
    <li>12px - 18px</li>
    <li>Tell the user what the button will do</li>
    <li>DO NOT use contextless request as labels e.g. "Click here"</li>
    <li>Do not use multi-line line labels</li>
    <li>Do not use modifiers that have not already been defined</li>
</ul>

<section>
    <button class="v2-button v2-button--primary">Primary</button>
    <button class="v2-button v2-button--secondary">Secondary</button>
    <button class="v2-button v2-button--tertiary">Tertiary</button>
    <button class="v2-button v2-button--supplementary">Supplementary</button>
</section>

<!-- ====== PRIMARY ====== !-->
        
<section class="guide-component" id="Primary">
    <h2 class="guide-component__title v2-title v2-title--2">Primary</h2>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use as main call to action',
                'Use sparingly',
                'Can be used with an icon e.g. New join indicating a step in the process',
                'Can be used multiple times on a page when it performs the same action e.g. <a href="https://www.nib.com.au/health-insurance/choose-cover/hospital" class="v2-link v2-link--green">Quote test</a>'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use on the same page for different purposes e.g. <a href="http://nib.com.au" class="v2-link v2-link--green">nib Home page</a>'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--primary">Perform primary action</button>'}) %>
    
</section>
        
<hr class="guide-separator"/>

<!-- ====== SECONDARY ====== !-->
        
<section class="guide-component" id="Secondary">
    <h2 class="guide-component__title v2-title v2-title--2">Secondary</h2>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use sparingly',
                'Can be used with an icon e.g. No hospital button on <a href="https://www.nib.com.au/health-insurance/choose-cover/hospital">Quote test</a>',
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use orange',
                'If using too frequently on a page (to designer\'s discrection), consider using tertiary.'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--secondary">Perform secondary action</button>'}) %>
    
</section>
        
<hr class="guide-separator"/>

<!-- ====== TERTIARY ====== !-->
        
<section class="guide-component" id="Tertiary">
    <h2 class="guide-component__title v2-title v2-title--2">Tertiary</h2>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use when actions or links are numerous on a screen',
                'Can be used with an icon',
                'Ensure it is obviously clickable. e.g. colour change, underline or icon'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use as a primary',
                'Don\'t use a background'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--tertiary">Perform tertiary action</button>'}) %>
    
</section>
        
<hr class="guide-separator"/>

<!-- ====== SUPPLEMENTARY ====== !-->
        
<section class="guide-component" id="Supplementary">
    <h2 class="guide-component__title v2-title v2-title--2">Supplementary</h2>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use for an action that is an option but not preferred',
                'Use in conjunction with higher buttons'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use in conjunction with tertiary buttons'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--supplementary">Perform Supplementary action</button>'}) %>
    
</section>
        
<hr class="guide-separator"/>

<!-- ====== ICONOGRAPHY ====== !-->
        
<section class="guide-component" id="Iconography">
    <h2 class="guide-component__title v2-title v2-title--2">Iconography</h2>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use to indicate an action such as a drop down or fucntion of a button e.g. <a href="nib.com.au/oshc" class="v2-link v2-link--green">OSHC Page</a>',
                'The icon color should match the color of the text on button'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                ''
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<button class="v2-button v2-button--primary">Someone fix me</button>'}) %>
    
</section>
        
<hr class="guide-separator"/>