---
title:      CX Principles
slug:       customer-experience-principles
template:   page.html
---

<p class="v2-paragraph">We believe best possible customer experiences are ones that maximise the following principles.
</p>

<section class="guide-component" id="title-1">
	<h2 class="v2-title v2-title--2">Supportive:</h2>
			<%- partial('do-list', {items: [
				'Give feedback',
				'Show progress & status',
				'Guide & provide information'
            ]}) %>
	<h2 class="v2-title v2-title--2">Forgiving:</h2>
			<%- partial('do-list', {items: [
				'Flexible ways to complete tasks',
				'Easy to learn and use',
				'Minimal effort to use'
            ]}) %>
	<h2 class="v2-title v2-title--2">Engaging:</h2>
			<%- partial('do-list', {items: [
				'Discover & learn along the journey',
				'Reward with relevant information'
            ]}) %>
	<h2 class="v2-title v2-title--2">Personalised:</h2>
			<%- partial('do-list', {items: [
				'Only ask for information once',
				'Use clear, unambiguous language',
				'Provide relevant content'
            ]}) %>
	<h2 class="v2-title v2-title--2">Efficient:</h2>
			<%- partial('do-list', {items: [
				'Streamlined interactions',
				'Responsive & quick-loading',
				'Enough information to complete tasks'
            ]}) %>
	<h2 class="v2-title v2-title--2">Trustworthy:</h2>
			<%- partial('do-list', {items: [
				'Show how customer information is used',
				'Respect customer privacy'
            ]}) %>
</section>