---
slug:       Forms   
title:      Forms
template:   page.html
---

<p>We use forms to give customers the ability to provide us with information. Forms matter because the failure of form results in failure demand or a loss sale. We don't like this stuff</p>

<p>So, let's get forms right.</p>

<!-- ====== Section heading ====== !-->
        
<section class="guide-component" id="section-heading">
    <h2 class="guide-component__title v2-title v2-title--2">Section heading</h2>
    <p>Use the field set to represent a set of form controls e.g ADDRESS DETAILS or Payments. The headings separate sections on the page and make it easy for the user to navigate the form.</p>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Should clearly summarise the content of the section',
                'Should be distinct from each other and unambiguous'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'dummy text'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<h2 class="Title-2">ADDRESS DETAILS</h2>'}) %>
    
</section>
        
<hr class="guide-separator"/>


<!-- ====== Subsection heading ====== !-->

<section class="guide-component" id="subsection-heading">
    <h2 class="guide-component__title v2-title v2-title--2">Subsection heading</h2>
    <p>Use a sub section heading when there are multiple inputs to answer. For example radio buttons or check boxes. The sub section heading contains the "question text" in these situations.</p>

    <%- partial('example', {source: '<h3 class="Title-3">Home address</h3>'}) %>
    
</section>
        
<hr class="guide-separator"/>


<!-- ====== Labelling ====== !-->

<section class="guide-component" id="labelling">
    <h2 class="guide-component__title v2-title v2-title--2">Labelling</h2>
    <p>A good label significantly helps form conversion by adding clarity without overwhelming users.</p>
    <p>The purpose of the label is to indicate what data is required in the field. All input fields are required to have labels.</p>
    <p>Labels should be clear and easy to understand. If the label is ambiguous, users will either guess an answer causing problems down the track, or leave the form altogether.</p>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                '<b>For text inputs</b>, align labels to the left and above the field',
                '<b>For radio buttons</b>, align to the right of the input',
                '<b>For all labels</b>, ensure an obvious proximity to the relevant input' 
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Dummy text'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<label class="control-label">Phone number</label>'}) %>

</section>

<hr class="guide-separator"/>


<!-- ====== Text input ====== !-->

<section class="guide-component" id="text-input">
    <h2 class="guide-component__title v2-title v2-title--2">Text input</h2>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use for a string of characters',
                'Use for a single line of content',
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Avoid field length that goes over 60 characters as this creates poor readability'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<input id="firstName" name="firstName" type="text" maxlength="24" class="control control-input control-input--text"></input>'}) %>

</section>
        
<hr class="guide-separator"/>


<!-- ====== Radio button ====== !-->

<section class="guide-component" id="radio-button">
    <h2 class="guide-component__title v2-title v2-title--2">Radio button</h2>
    <p>Radio Buttons are used when a choice is required between two or more options. With radio buttons, a selection is mandatory.</p>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Make each option an exclusive choice',
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use long or ambiguous option labels'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<div class="control"><label for="male" class="control-label--radio control-label--radio-first"}"><input id="male" name="gender" type="radio" value="Male" class="hoverhand t-gender-male ng-isolate-scope ng-pristine ng-invalid ng-invalid-required" required="">Male</label></div>'}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Select box ====== !-->

<section class="guide-component" id="select-box">
    <h2 class="guide-component__title v2-title v2-title--2">Select box</h2>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use in cases when there are many possible options',
                'Use when the user doesn\'t need to know all the possible options to correctly answer',
                'For long lists use auto-complete or auto-suggest'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Avoid using when the user needs to compare all the options '
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<select class="control control-input control-input--select"><option>Option 1</option><option>Option 2</option></select>'}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Checkbox ====== !-->

<section class="guide-component" id="checkbox">
    <h2 class="guide-component__title v2-title v2-title--2">Checkbox</h2>
    <p>Checkboxes are used when there are lists of options (or a single option) and the user may select any number of choices, including zero, one, or several. In other words, each checkbox is independent of all other checkboxes in the list, so checking one box doesn't uncheck the others.</p>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Dummy text'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Dummy text'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<input type="checkbox" class="copy">This is my postal address</p>'}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Alerts and validation ====== !-->

<section class="guide-component" id="alerts-and-validation">
    <h2 class="guide-component__title v2-title v2-title--2">Alerts and validation</h2>
    <p>We use alerts to let the user know:</p>
    <ul>
        <li>What has happened and the impact on them</li>
        <li>Why it has happened</li>
        <li>What they can do about it</li>
    </ul>
    <p>An alert should be a last resort. We should address errors before they happen, through:</p>
    <ol>
        <li>Forgiving and flexible inputs and processes</li>
        <li>Supporting information such as placeholders and tooltips</li>
    </ol>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use multiple indicators for communicating the nature of the alert e.g. background colour, copy, icons',
                'Carefully consider the nature of the alert and the attention required e.g. error vs success vs alert'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Avoid alarming the user'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: ''}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Supporting information ====== !-->

<section class="guide-component" id="supporting-information">
    <h2 class="guide-component__title v2-title v2-title--2">Supporting information</h2>

    <h3 class="v2-title v2-title--3">Validation/field rules</h3>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Inform the user before they use the field, addressing potential errors before they happen',
                'Always use clear, simple wording'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'dummy text'
            ]}) %>
    
        </div>
    </div>

    <h3 class="v2-title v2-title--3">Guidance</h3>

    <%- partial('example', {source: ''}) %>

</section>

<hr class="guide-separator"/>
