---
slug:       iconography
title:      Iconography
template:   page.html
---

<%- partial('icon', {
    glyph:  'calendar',
    name:   'Calendar'
}) %>

<%- partial('icon', {
    glyph:  'close',
    name:   'Close'
}) %>
<%- partial('icon', {
    glyph:  'close-circle',
    name:   'Close-circle'
}) %>

<%- partial('icon', {
    glyph:  'close',
    name:   'Close-inverse'
}) %>
<%- partial('icon', {
    glyph:  'edit',
    name:   'Edit'
}) %>

<%- partial('icon', {
    glyph:  'email',
    name:   'Email'
}) %>
<%- partial('icon', {
    glyph:  'help',
    name:   'Help'
}) %>

<%- partial('icon', {
    glyph:  'help-circle',
    name:   'Help-circle'
}) %>
<%- partial('icon', {
    glyph:  'help-inverse',
    name:   'Help-inverse'
}) %>

<%- partial('icon', {
    glyph:  'info-circle',
    name:   'Info-circle'
}) %>
<%- partial('icon', {
    glyph:  'info-inverse',
    name:   'Info-inverse'
}) %>

<%- partial('icon', {
    glyph:  'location',
    name:   'Location'
}) %>
<%- partial('icon', {
    glyph:  'lock',
    name:   'Lock'
}) %>

<%- partial('icon', {
    glyph:  'lock-inverse',
    name:   'Lock-inverse'
}) %>
<%- partial('icon', {
    glyph:  'menu',
    name:   'Menu'
}) %>

<%- partial('icon', {
    glyph:  'pdf',
    name:   'PDF'
}) %>
<%- partial('icon', {
    glyph:  'pdf-filled',
    name:   'PDF-filled'
}) %>

<%- partial('icon', {
    glyph:  'phone',
    name:   'Phone'
}) %>
<%- partial('icon', {
    glyph:  'plus',
    name:   'Plus'
}) %>

<%- partial('icon', {
    glyph:  'plus-circle',
    name:   'Plus-circle'
}) %>
<%- partial('icon', {
    glyph:  'plus-inverse',
    name:   'Plus-inverse'
}) %>

<%- partial('icon', {
    glyph:  'smartphone',
    name:   'Smartphone'
}) %>
<%- partial('icon', {
    glyph:  'tick',
    name:   'Tick'
}) %>
<%- partial('icon', {
    glyph:  'tick-circle',
    name:   'Tick-circle'
}) %>

<%- partial('icon', {
    glyph:  'tick-inverse',
    name:   'Tick-inverse'
}) %>
<%- partial('icon', {
    glyph:  'warning',
    name:   'Warning'
}) %>

<%- partial('icon', {
    glyph:  'warning-inverse',
    name:   'Warning-inverse'
}) %>

<h2>NAvigation</h2>

<%- partial('icon', {
    glyph:  'arrow',
    name:   'Arrow'
}) %>

<%- partial('icon', {
    glyph:  'chevron',
    name:   'Chevron'
}) %>
<%- partial('icon', {
    glyph:  'chevron-circle',
    name:   'Chevron-circle'
}) %>

<%- partial('icon', {
    glyph:  'chevron-inverse',
    name:   'Chevron-inverse'
}) %>

<h2>Feature</h2>

<%- partial('icon', {
    glyph:  'attachment',
    name:   'Attachment'
}) %>

<%- partial('icon', {
    glyph:  'clock',
    name:   'Clock'
}) %>
<%- partial('icon', {
    glyph:  'dollar',
    name:   'Dollar'
}) %>

<%- partial('icon', {
    glyph:  'dollar-circle',
    name:   'Dollar-circle'
}) %>
<%- partial('icon', {
    glyph:  'dollar-inverse',
    name:   'dollar-inverse'
}) %>

<%- partial('icon', {
    glyph:  'flag',
    name:   'Flag'
}) %>
