---
slug:       iconography
title:      Iconography
template:   page.html
---

<p>Icons are used accross our site to help illustrate a concept, visually break up content and assist in navigation. </p>

<ul>
    <li>Icons can be in colour</li>
    <li>Do not size icons less than 16px</li>
    <li>Do not source any other icons (if new icons needed speak to <a class="v2-link v2-link--green" href="mailto:design@nib.com.au">design@nib.com.au</a>)</li>
</ul>

<p>For your designs, you can find the source <code>*.svg</code> files <a href="https://github.com/nib-styles/v2-icons/tree/master/images">here</a>.</p>

<section class="guide-component" id="Core">

    <h2 class="guide-component__title v2-title v2-title--2">Core</h2>

    <p>Core icons are those used frequently throughout the site to illustrate a single concept.</p>

    <%- partial('icon', {
        glyph:  'calendar',
        aliases: ['Date']
    }) %>

    <%- partial('icon', {
        glyph:  'close',
        aliases: ['X', 'Remove']
    }) %>
    <%- partial('icon', {
        glyph:  'close-circle',
        aliases: ['X', 'Remove']
    }) %>

    <%- partial('icon', {
        glyph:  'close-circle-inverse',
        aliases: ['X', 'Remove']
    }) %>
    <%- partial('icon', {
        glyph:  'edit',
        aliases: ['Pencil', 'Pen']
    }) %>

    <%- partial('icon', {
        glyph:  'envelope',
        aliases: ['Email','Post', 'Letter']
    }) %>
    <%- partial('icon', {
        glyph:  'help', 
        aliases: ['Question']
    }) %>

    <%- partial('icon', {
        glyph:  'help-circle',
        aliases: ['Question']
    }) %>
    <%- partial('icon', {
        glyph:  'help-circle-inverse',
        aliases: ['Question']
    }) %>

    <%- partial('icon', {
        glyph:  'info-circle',
        aliases: ['Information']
    }) %>
    <%- partial('icon', {
        glyph:  'info-circle-inverse',
        aliases: ['Information']
    }) %>

    <%- partial('icon', {
        glyph:  'location',
        aliases: ['Map','Pin']
    }) %>

    <%- partial('icon', {
        glyph:  'lock',
        aliases: ['Secure', 'Private']
    }) %>

    <%- partial('icon', {
        glyph:  'lock-circle-inverse',
        aliases: ['Secure', 'Private']
    }) %>

    <%- partial('icon', {
        glyph:  'menu',
        aliases: ['Hamburger']
    }) %>

    <%- partial('icon', {
        glyph:  'pdf',
        aliases: ['Document']
    }) %>

    <%- partial('icon', {
        glyph:  'pdf-inverse',
        aliases: ['Document']
    }) %>

    <%- partial('icon', {
        glyph:  'phone',
        aliases: ['Call', 'Contact']
    }) %>
    <%- partial('icon', {
        glyph:  'plus',
        aliases: ['Add']
    }) %>

    <%- partial('icon', {
        glyph:  'plus-circle',
        aliases: ['Add']
    }) %>
    <%- partial('icon', {
        glyph:  'plus-circle-inverse',
        aliases: ['Add']
    }) %>

    <%- partial('icon', {
        glyph:  'smartphone',
        aliases: ['iPhone', 'App']
    }) %>
    <%- partial('icon', {
        glyph:  'tick',
        aliases: ['Check', 'Correct']
    }) %>
    <%- partial('icon', {
        glyph:  'tick-circle',
        aliases: ['Check', 'Correct']
    }) %>

    <%- partial('icon', {
        glyph:  'tick-circle-inverse',
        aliases: ['Check', 'Correct']
    }) %>
    <%- partial('icon', {
        glyph:  'warning',
        aliases: ['Alert']
    }) %>

    <%- partial('icon', {
        glyph:  'warning-inverse',
        aliases: ['Alert']
    }) %>

    <%- partial('icon', {
        glyph:  'shopping-cart',
        aliases: ['']
    }) %>

</section>

<section class="guide-component" id="navigation">

    <h2 class="guide-component__title v2-title v2-title--2">Navigation</h2>

    <p>Navigation icons are used to assist, this includes icons for buttons and menus.</p>

    <%- partial('icon', {
        glyph:  'arrow',
        aliases: ['Continue']
    }) %>

    <%- partial('icon', {
        glyph:  'chevron',
        aliases: ['Arrow', 'Expand', 'Minimise', 'Back']
    }) %>
    <%- partial('icon', {
        glyph:  'chevron-circle',
        aliases: ['Arrow', 'Expand', 'Minimise', 'Back']
    }) %>

    <%- partial('icon', {
        glyph:  'chevron-circle-inverse',
        aliases: ['Arrow', 'Expand', 'Minimise', 'Back']
    }) %>

</section>

<section class="guide-component" id="title-2">    

    <h2 class="guide-component__title v2-title v2-title--2">Feature</h2>

    <p>Feature icons are used sparingly and demonstrate a concept or marketing message to the user. Each of these are titled depending on their meaning.</p>

    <%- partial('icon', {
        glyph:  'paper-clip',
        aliases: ['Attach']
    }) %>

    <%- partial('icon', {
        glyph:  'clock',
        aliases: ['Time', 'Waiting']
    }) %>
    <%- partial('icon', {
        glyph:  'dollar',
        aliases: ['Money']
    }) %>

    <%- partial('icon', {
        glyph:  'dollar-circle',
        aliases: ['Money']
    }) %>
    <%- partial('icon', {
        glyph:  'dollar-circle-inverse',
        aliases: ['Money']
    }) %>

    <%- partial('icon', {
        glyph:  'flag',
        aliases: ['']
    }) %>
    <%- partial('icon', {
        glyph:  'hospital',
        aliases: ['Doctor']
    }) %>

    <%- partial('icon', {
        glyph:  'settings',
        aliases: ['Gear']
    }) %>
    <%- partial('icon', {
        glyph:  'stopwatch',
        aliases: ['Fast, Quick']
    }) %>

    <%- partial('icon', {
        glyph:  'switching',
        aliases: ['Refresh']
    }) %>
    <%- partial('icon', {
        glyph:  'thumbs-up',
        aliases: ['Success']
    }) %>

    <%- partial('icon', {
        glyph:  'umbrella',
        aliases: ['Cover']
    }) %>

    <%- partial('icon', {
        glyph:  'ambulance',
        aliases: ['Accident']
    }) %>
    <%- partial('icon', {
        glyph:  'heartrate',
        aliases: ['Monitor']
    }) %>

    <%- partial('icon', {
        glyph:  'megaphone',
        aliases: ['Media']
    }) %>

</section>         

<section class="guide-component" id="sizing">
    <h2 class="guide-component__title v2-title v2-title--2">Sizing</h2>
            <i class="v2-icon v2-icon--ambulance v2-icon--smallest"></i>
            <code>v2-icon--smallest</code>
            <i class="v2-icon v2-icon--ambulance v2-icon--smaller"></i>
            <code>v2-icon--smaller</code>
            <i class="v2-icon v2-icon--ambulance v2-icon--small"></i>
            <code>v2-icon--small</code>
            <i class="v2-icon v2-icon--ambulance v2-icon--medium"></i>
            <code>v2-icon--medium</code>
            <i class="v2-icon v2-icon--ambulance v2-icon--large"></i>
            <code>v2-icon--large</code>
            <i class="v2-icon v2-icon--ambulance v2-icon--largest"></i>
            <code>v2-icon--largest</code>
</section>

<section class="guide-component" id="rotation">
    <h2 class="guide-component__title v2-title v2-title--2">Rotation</h2>
    <ul>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--small"></i>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--rotate-90"></i>
            <code>v2-icon--rotate-90</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--rotate-180"></i>
            <code>v2-icon--rotate-180</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--rotate-270"></i>
            <code>v2-icon--rotate-270</code>
        </li>
    </ul>
</section>

<section class="guide-component" id="colours">
    <h2 class="guide-component__title v2-title v2-title--2">Colours</h2>
    <ul class="hlist">

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--lightgreen"></i>
            <code>v2-icon--lightgreen</code>
        </li>

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--darkgreen"></i>
            <code>v2-icon--darkgreen</code>
        </li>

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--lightgrey"></i>
            <code>v2-icon--lightgrey</code>
        </li>

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--darkgrey"></i>
            <code>v2-icon--darkgrey</code>
        </li>

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--white"></i>
            <code>v2-icon--white</code>
        </li>

    </ul>
</section>

<section class="guide-component" id="spinner">
    <h2 class="guide-component__title v2-title v2-title--2">Spinner</h2>
    <i class="v2-icon v2-icon--large v2-icon--spinner v2-icon--spin"></i>
    <code>v2-icon--spinner v2-icon--spin</code>
</section>
