---
slug:       iconography
title:      Iconography
template:   page.html
---

<p>Icons are used accross our site to help illustrate a concept, visually break up content and assist in navigation. </p>

<ul>
    <li>Icons can be in colour</li>
    <li>Do not size icons less than 16px</li>
    <li>Do not source any other icons (if new icons needed speak to <a class="v2-link v2-link--green" href="mailto:design@nib.com.au">design@nib.com.au</a>)</li>
</ul>

<section class="guide-component id="Core">

    <h2 class="guide-component__title v2-title v2-title--2">Core</h2>

    <p>Core icons are those used frequently throughout the site to illustrate a single concept.</p>

    <%- partial('icon', {
        glyph:  'calendar',
        name:   'Calendar'
    }) %>

    <%- partial('icon', {
        glyph:  'close',
        name:   'Close'
    }) %>
    <%- partial('icon', {
        glyph:  'close-circle',
        name:   'Close-circle'
    }) %>

    <%- partial('icon', {
        glyph:  'close-circle-inverse',
        name:   'Close-circle-inverse'
    }) %>
    <%- partial('icon', {
        glyph:  'edit',
        name:   'Edit'
    }) %>

    <%- partial('icon', {
        glyph:  'envelope',
        name:   'Envelope'
    }) %>
    <%- partial('icon', {
        glyph:  'help', 
        name:   'Help'
    }) %>

    <%- partial('icon', {
        glyph:  'help-circle',
        name:   'Help-circle'
    }) %>
    <%- partial('icon', {
        glyph:  'help-circle-inverse',
        name:   'Help-circle-inverse'
    }) %>

    <%- partial('icon', {
        glyph:  'info-circle',
        name:   'Info-circle'
    }) %>
    <%- partial('icon', {
        glyph:  'info-circle-inverse',
        name:   'Info-circle-inverse'
    }) %>

    <%- partial('icon', {
        glyph:  'location',
        name:   'Location'
    }) %>

    <%- partial('icon', {
        glyph:  'lock',
        name:   'Lock'
    }) %>

    <%- partial('icon', {
        glyph:  'lock-circle-inverse',
        name:   'Lock-circle-inverse'
    }) %>

    <%- partial('icon', {
        glyph:  'menu',
        name:   'Menu'
    }) %>

    <%- partial('icon', {
        glyph:  'pdf',
        name:   'PDF'
    }) %>

    <%- partial('icon', {
        glyph:  'pdf-inverse',
        name:   'PDF-inverse'
    }) %>

    <%- partial('icon', {
        glyph:  'phone',
        name:   'Phone'
    }) %>
    <%- partial('icon', {
        glyph:  'plus',
        name:   'Plus'
    }) %>

    <%- partial('icon', {
        glyph:  'plus-circle',
        name:   'Plus-circle'
    }) %>
    <%- partial('icon', {
        glyph:  'plus-circle-inverse',
        name:   'Plus-circle-inverse'
    }) %>

    <%- partial('icon', {
        glyph:  'smartphone',
        name:   'Smartphone'
    }) %>
    <%- partial('icon', {
        glyph:  'tick',
        name:   'Tick'
    }) %>
    <%- partial('icon', {
        glyph:  'tick-circle',
        name:   'Tick-circle'
    }) %>

    <%- partial('icon', {
        glyph:  'tick-circle-inverse',
        name:   'Tick-circle-inverse'
    }) %>
    <%- partial('icon', {
        glyph:  'warning',
        name:   'Warning'
    }) %>

    <%- partial('icon', {
        glyph:  'warning-inverse',
        name:   'Warning-inverse'
    }) %>

    <%- partial('icon', {
        glyph:  'shopping-cart',
        name:   'Shopping-cart'
    }) %>

</section>

<section class="guide-component" id="navigation">

    <h2 class="guide-component__title v2-title v2-title--2">Navigation</h2>

    <p>Navigation icons are used to assist, this includes icons for buttons and menus.</p>

    <%- partial('icon', {
        glyph:  'arrow',
        name:   'Arrow'
    }) %>

    <%- partial('icon', {
        glyph:  'chevron',
        name:   'Chevron'
    }) %>
    <%- partial('icon', {
        glyph:  'chevron-circle',
        name:   'Chevron-circle'
    }) %>

    <%- partial('icon', {
        glyph:  'chevron-circle-inverse',
        name:   'Chevron-circle-inverse'
    }) %>

</section>

<section class="guide-component" id="title-2">    

    <h2 class="guide-component__title v2-title v2-title--2">Feature</h2>

    <p>Feature icons are used sparingly and demonstrate a concept or marketing message to the user. Each of these are titled depending on their meaning.</p>

    <%- partial('icon', {
        glyph:  'paper-clip',
        name:   'Paper-clip'
    }) %>

    <%- partial('icon', {
        glyph:  'clock',
        name:   'Clock'
    }) %>
    <%- partial('icon', {
        glyph:  'dollar',
        name:   'Dollar'
    }) %>

    <%- partial('icon', {
        glyph:  'dollar-circle',
        name:   'Dollar-circle'
    }) %>
    <%- partial('icon', {
        glyph:  'dollar-circle-inverse',
        name:   'dollar-circle-inverse'
    }) %>

    <%- partial('icon', {
        glyph:  'flag',
        name:   'Flag'
    }) %>
    <%- partial('icon', {
        glyph:  'hospital',
        name:   'Hospital'
    }) %>

    <%- partial('icon', {
        glyph:  'settings',
        name:   'Settings'
    }) %>
    <%- partial('icon', {
        glyph:  'stopwatch',
        name:   'Stopwatch'
    }) %>

    <%- partial('icon', {
        glyph:  'switching',
        name:   'Switching'
    }) %>
    <%- partial('icon', {
        glyph:  'thumbs-up',
        name:   'Thumbs-up'
    }) %>

    <%- partial('icon', {
        glyph:  'umbrella',
        name:   'Umbrella'
    }) %>

    <%- partial('icon', {
        glyph:  'ambulance',
        name:   'Ambulance'
    }) %>
    <%- partial('icon', {
        glyph:  'heartrate',
        name:   'Heartrate'
    }) %>

    <%- partial('icon', {
        glyph:  'megaphone',
        name:   'Megaphone'
    }) %>

</section>

<section class="guide-component" id="sizing">
    <h2 class="guide-component__title v2-title v2-title--2">Sizing</h2>
    <ul>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--smallest"></i>
            <code>v2-icon--smallest</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--smaller"></i>
            <code>v2-icon--smaller</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small"></i>
            <code>v2-icon--small</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--medium"></i>
            <code>v2-icon--medium</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--large"></i>
            <code>v2-icon--large</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--largest"></i>
            <code>v2-icon--largest</code>
        </li>
    </ul>
</section>

<section class="guide-component" id="rotation">
    <h2 class="guide-component__title v2-title v2-title--2">Rotation</h2>
    <ul>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--small"></i>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--rotate-90"></i>
            <code>v2-icon--rotate-90</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--rotate-180"></i>
            <code>v2-icon--rotate-180</code>
        </li>
        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--rotate-270"></i>
            <code>v2-icon--rotate-270</code>
        </li>
    </ul>
</section>

<section class="guide-component" id="colours">
    <h2 class="guide-component__title v2-title v2-title--2">Colours</h2>
    <ul class="hlist">

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--lightgreen"></i>
            <code>v2-icon--lightgreen</code>
        </li>

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--darkgreen"></i>
            <code>v2-icon--darkgreen</code>
        </li>

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--lightgrey"></i>
            <code>v2-icon--lightgrey</code>
        </li>

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--darkgrey"></i>
            <code>v2-icon--darkgrey</code>
        </li>

        <li>
            <i class="v2-icon v2-icon--ambulance v2-icon--small v2-icon--white"></i>
            <code>v2-icon--white</code>
        </li>

    </ul>
</section>

<section class="guide-component" id="spinner">
    <h2 class="guide-component__title v2-title v2-title--2">Spinner</h2>
    <i class="v2-icon v2-icon--large v2-icon--spinner v2-icon--spin"></i>
    <code>v2-icon--spinner v2-icon--spin</code>
</section>
