---
slug:       Typography
title:      Typography
template:   page.html
---

<p class="v2-paragraph">Typography helps create the structure and hierarchy of a page. This helps users read, absorb and comprehend the content. We use Roboto for headings and Open Sans for body and UI elements.</p>

<p class="v2-paragraph">These typefaces were chosen for their pairing, extensive range of weights and similarity to Helvetica.</p>

<!-- ====== TITLE #1 ====== !-->
        
<section class="guide-component" id="title-1">
    <h2 class="guide-component__title v2-title v2-title--2">Title 1</h2>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use at top of the the page only',
                'Commonly used on landing pages e.g. <a href=\"http://www.nib.com.au/\" class="v2-link v2-link--green">home page</a>',
                'Use sentence case only'
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use more than once on the page',
                'Don\'t exceed 140 characters',
                'Avoid hyphens to line wrap text'
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<h1 class="v2-title v2-title--1">Great value health insurance</h1>'}) %>
    
</section>
        
<hr class="guide-separator"/>


<!-- ====== TITLE #2 ====== !-->

<section class="guide-component" id="title-2">
    <h2 class="guide-component__title v2-title v2-title--2">Title 2</h2>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Can be used multiple times',
                'Used to label sections',
                'Sentence case only'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use as first title on the page',
                'Don\'t Exceed 140 characters',
                'Avoid using hyphens to line wrap text'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<h2 class="v2-title v2-title--2">Great value health insurance</h1>'}) %>
    
</section>
        
<hr class="guide-separator"/>


<!-- ====== TITLE #3 ====== !-->

<section class="guide-component" id="title-3">
    <h2 class="guide-component__title v2-title v2-title--2">Title 3</h2>
    
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Only to be used after a title 2',
                'Can be used multiple times',
                'Used as a sub-label'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t Exceed 140 characters',
                'Don\'t use hyphens to line wrap text'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<h3 class="v2-title v2-title--3">Great value health insurance</h1>'}) %>

</section>

<hr class="guide-separator"/>


<!-- ====== TITLE #4 ====== !-->

<section class="guide-component" id="title-4">
    <h2 class="guide-component__title v2-title v2-title--2">Title 4</h2>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Only to be used after a title 3',
                'Can be used multiple times',
                'Used as a sub-label'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t exceed 140 characters',
                'Avoid using hyphens to line wrap text'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<h4 class="v2-title v2-title--4">Great value health insurance</h1>'}) %>

</section>
        
<hr class="guide-separator"/>


<!-- ====== Body Copy ====== !-->

<section class="guide-component" id="body-copy">
    <h2 class="guide-component__title v2-title v2-title--2">Paragraphs</h2>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'For paragraphs and general elements',
                'Prefer left aligned',
                'Where possible, aim for a line length of 50 - 60 characters'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'Don\'t use a font size less than 14px',
                'Avoid hyphenation to line wrap text',
                'Don\'t exceed six columns line length on a desktop',
                'Avoid centering large blocks of text - This impedes readability',
                'Don\'t justify text'
            ]}) %>
    
        </div>
    </div>

    <%- partial('example', {source: '<div class="v2-copy"><p class="v2-paragraph">We\'ll recognise any waiting periods already served with your current fund, so you can claim straight away. See our change your health insurance page. Any existing limits used with your current fund will carry across to nib.</p></div>'}) %>

</section>

<hr class="guide-separator"/>
<!-- ====== Body Copy ====== !-->

<section class="guide-component" id="list-copy">
    <h2 class="guide-component__title v2-title v2-title--2">List</h2>

    <p class="v2-paragraph">List style for use in copy.</p>

    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
            ]}) %>

        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
            ]}) %>

        </div>
    </div>

    <%- partial('example', {source: '<ul class="v2-list v2-list--copy"><li class="v2-list__item">We\'ll recognise any waiting periods already served with your current fund, so you can claim straight away. See our change your health insurance page. Any existing limits used with your current fund will carry across to nib.</li></ul>'}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Link ====== !-->

<section class="guide-component" id="link">
    <h2 class="guide-component__title v2-title v2-title--2">Link</h2>
        
    <div class="rg-Grid">
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Use in paragraphs',
                'Use meaningful labelling of links e.g. Hospital cover',
                'Use 70% opacity for hover'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'As with button labelling, avoiding using ambiguous labels such as "click here"'
            ]}) %>
    
        </div>
    </div>

    <h3 class="v2-title v2-title--3">Modifiers</h3>
    <ul>
        <li><code>v2-link--green</code></li>
        <li><code>v2-link--grey</code></li>
        <li><code>v2-link--white</code></li>
    </ul>

    <%- partial('example', {source: '<p class="v2-copy">See our <a class="v2-link v2-link--green">change your health insurance page</a> for more information. </p>'}) %>

</section>

<hr class="guide-separator"/>

<!-- ====== Disclaimers ====== !-->

<section class="guide-component" id="Disclaimers">
    <h2 class="guide-component__title v2-title v2-title--2">Disclaimers</h2>
        
    <div class="rg-Grid">
        <!--
        <div class="rg-Unit rg-6of12 rg-pr2at12">

            <%- partial('do-list', {items: [
                'Align at designer\'s discretion'
            ]}) %>
    
        </div>
        <div class="rg-Unit rg-6of12 rg-pl2at12">

            <%- partial('dont-list', {items: [
                'As with button labelling, avoiding using ambiguous labels such as "click here"'
            ]}) %>
    
        </div>
    -->
    </div>

    <%- partial('example', {source: '<p class="text-small">*For singles with a taxable income of $90,000 or less, NSW/ACT. Check the price applicable to you. Conditions apply.</p>'}) %>

</section>

<hr class="guide-separator"/>

