<% include partials/header %>

<div class="offcanvas js-offcanvas">

  <div class="offcanvas__content">
    <% include partials/sidebar %>
  </div>

  <div class="offcanvas__canvas js-offcanvas-trigger-close">

    <div class="npl-header" g-xl="display:none">
      <a class="u-clickable js-offcanvas-trigger-open" g-xl="display:none">
        <i class="v2-icon v2-icon--menu"></i>
      </a>
    </div>

    <div class="npl-container">

      <h1 class="v2-title v2-title--1"><%= title %></h1>
      <%- contents %>

    </div>

    <% include partials/footer %>

  </div>

</div>
